*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100vh;
}
#name-plate{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    background-image: url(https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_960_720.jpg);
}
#name-plate h2{
    font-size: 50px;
    background-color: transparent;
    margin-bottom: 40px;
}
#name-plate p{
    font-size: 30px;
    background-color: transparent;
}
#circle{
    border-radius: 50%;
}
#links{
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    top: 0px;
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.link{
    margin: 0px 30px;
    padding: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.link:hover{
    color: darkorange;
}
#about-fz{
    /* width: 90%; */
    height: 70pc;
    border: 0px solid black;
    padding: 100px;
    background-color: darkgray;
}
#about-fz div p{
    padding: 10px;
    font-size: large;
    float: inline-start;
    font-weight: 200;
    text-transform: uppercase;
    margin: 20px;
}
#about-fz div img{
    box-shadow: -5px 5px 10px black;
    margin: 30px;
}

