#menu-heading{
    text-align: center;
    padding-top: 5pc;
    text-transform: uppercase;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: x-large;
    color: black;
    font-weight: bolder;
}
#menu-card{
    display: flex;
    justify-content: center;
    border: 0px solid black;
    padding: 3pc;
    width: 100%;
}
.item{
    width: 15pc;
    height: 15pc;
    text-align: center;
    justify-content: center;
    /* border: 2px solid black; */
    padding: 2pc;
    margin: 5pc 10pc;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    background-color: lightgrey;
}
.item:hover{
    cursor: pointer;
    background-color: lightyellow;
}
.food-title{
    font-size: x-large;
    font-weight: bolder;
    height: 3pc;
    background-color: lightcoral;
    box-shadow: 0px 0px 10px black;
}
.food-title:hover{
    background-color: lightsalmon;
}
.item img{
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(30, 29, 29);
}
.item div{
    text-transform: uppercase;
    font-size: medium;
    font-weight: 500;
    margin-top: 10px;
}
@media screen and (max-width:480px) {
    #menu-heading{
        padding-top: 2pc;
        margin-bottom: 2pc;
    }
    #menu-card{
        padding: 0pc;
        width: 100%;
    }
    .item{
        width: 100px;
        height: 100px;
        padding: 1pc;
        margin: 3pc 1pc;
    }
    .food-title{
        height: 2pc;
    }
    .item img{
        width: 50px;
    }
    .item div{
        margin-top: 0px;
    }
}